<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пральня Aparion</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Графік прання на тиждень</h1>
    <div class="container">
        {% for date in week_dates %}
        <div class="day-column">
            <h3>{{ date }}</h3>
            {% for slot in timeslots %}
            <div class="timeslot">
                <span>{{ slot }}</span>
                {% if (date, slot) in booking_data %}
                    {% if booking_data[(date, slot)] == "" or booking_data[(date, slot)].lower() == "free" %}
                        <input type="text" class="name-input" data-date="{{ date }}" data-slot="{{ slot }}" id="{{ date }}-{{ slot }}" placeholder="free">
                        <button class="book-button" data-date="{{ date }}" data-slot="{{ slot }}">Book</button>
                    {% else %}
                        <input type="text" value="{{ booking_data[(date, slot)] }}" readonly id="{{ date }}-{{ slot }}">
                        <button disabled>Booked</button>
                    {% endif %}
                {% else %}
                    <input type="text" class="name-input" data-date="{{ date }}" data-slot="{{ slot }}" id="{{ date }}-{{ slot }}">
                    <button class="book-button" data-date="{{ date }}" data-slot="{{ slot }}">Book</button>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
    <script src="/static/scripts.js"></script>
</body>
</html>
